<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Brad Korman</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Body Inner -->
    <div class="body-inner">
        <!--HEADER-->
        <header id="header" class="dark">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo"> <a href="index.html"><span class="logo-default">Brad Korman</span><span class="logo-dark">Brad Korman</span></a> </div>
                    <!--End: Logo-->

                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="code.html">Code</a></li>
                                    <li><a href="video.html">Video</a></li>
                                    <li><a href="art.html">Art</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!--END: HEADER-->
        <!-- SECTION FULLSCREEN -->
        <section id="section1" class="halfscreen" data-bg-parallax="images//about/Brad_websitepic1.jpg">

            <div class="container text-light text-right">
                <div class="container-fullscreen">
                    <div class="text-middle">
                        <div class="heading-text" data-animate="fadeInDown" data-animate-delay="100">
                            <h2>Hi I'm Brad.</h2>
                        </div>
                        <p class="lead" data-animate="fadeInDown" data-animate-delay="300">I like to make stuff</p>
                    </div>
                </div>
            </div>


        </section>
        <!-- end: SECTION FULLSCREEN -->

        <!--ABOUT -->
        <section id="section2">
            <div class="container">
                <div class="row  m-b-50">
                    <div class="col-lg-3">
                        <div class="heading-text heading-section">
                            <h2>ABOUT ME</h2>

                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-6">
                                Brad Korman is a multifaceted filmmaker, photographer and entrepreneur. A native New Yorker, ever since a young age, Brad has loved film and music and when he's not working on client projects you can find him playing his guitar or training Muay Thai.
                                <br>
                                <br> While attending Oberlin College, Brad was a Multi-Media Mentor as part of a pilot program to help teach technical skills to other students including teaching workshops and holding office hours in the editing lab. During summers and winter term he would freelance in camera and grip departments on indie films in NYC
                              </div>

                            <div class="col-lg-6">
                                After graduating with a Cinema Studies Major and Photography Minor, Brad was awarded a Cinema Studies Production Fellowship, which included coordinating student and faculty productions and maintaining the shooting studio and editing lab in the newly renovated Danny DeVito and Rhea Perlman Cinema Studies Center for Media Education and Production.
                                <br>
                                <br>
                                During this fellowship, Brad started an independent recording studio and production company out of his house in Oberlin. After the school year ended, he found a studio in Brooklyn and started the first iteration of Remarque Creative.
                              </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="heading-text heading-section m-b-20">
                            <h2>Technical Skills</h2>

                        </div>These are some of the tools I am comfortable using.
                    </div>
                    <div class="col-lg-9">
                        <div>
                            <div class="icon-set-container">
                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/premiere-cc.svg" alt=""> </div>
                                          <div class="icon-class">Adobe Premiere Pro CC</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/after-effects-cc.svg" alt=""> </div>
                                          <div class="icon-class">Adobe After Effects CC</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/photoshop-cc.svg" alt=""> </div>
                                          <div class="icon-class">Adobe Photoshop CC</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/lightroom-cc.svg" alt=""> </div>
                                          <div class="icon-class">Adobe Lightroom</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/html-5.svg" alt=""> </div>
                                          <div class="icon-class">HTML5</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/css3.svg" alt=""> </div>
                                          <div class="icon-class">CSS3</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/javascript.svg" alt=""> </div>
                                          <div class="icon-class">Javascript</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/bootstrap-4.svg" alt=""> </div>
                                          <div class="icon-class">Bootstrap</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/ruby.svg" alt=""> </div>
                                          <div class="icon-class">Ruby</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/rails.svg" alt=""> </div>
                                          <div class="icon-class">Rails</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/react.svg" alt=""> </div>
                                          <div class="icon-class">React</div>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="icon-preview">
                                          <div class="icon-holder"><img src="./images/icons/postgresql.svg" alt=""> </div>
                                          <div class="icon-class">PostgreSQL</div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END: ABOUT -->

        <!--JUMBOTRON -->
        <div class="jumbotron jumbotron-fullwidth background-dark text-light m-b-0">
            <div class="container">
                <h3>Want to work with me?</h3>
                <p>Get in touch:</p>
                <a class="btn" href="#"><span>Contact</span></a>
            </div>
        </div>
        <!--END: JUMBOTRON -->

        <!--CLIENTS -->
        <section id="section4" class="background-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="lead">Our awesome clients we've had the pleasure to work with!</p>
                    </div>
                </div>
                <ul class="grid grid-5-columns">
                    <li>
                        <a href="#"><img src="images/clients/1.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/2.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/3.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/4.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/5.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/6.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/7.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/8.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/9.png" alt=""> </a>
                    </li>
                    <li>
                        <a href="#"><img src="images/clients/10.png" alt=""> </a>
                    </li>
                </ul>
            </div>

        </section>
        <!--END: CLIENTS -->

        <!-- Footer -->
        <footer id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="widget">

                                <div class="widget-title">Polo HTML5 Template</div>
                                <p class="mb-5">Built with love in Fort Worth, Texas, USA<br>
                                    All rights reserved. Copyright © 2019. INSPIRO.</p>
                                <a href="https://themeforest.net/item/polo-responsive-multipurpose-html5-template/13708923" class="btn btn-inverted" target="_blank">Purchase Now</a>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Discover</div>
                                        <ul class="list">
                                            <li><a href="#">Features</a></li>
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Corporate</a></li>
                                            <li><a href="#">Updates</a></li>
                                            <li><a href="#">Pricing</a></li>
                                            <li><a href="#">Customers</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Features</div>
                                        <ul class="list">
                                            <li><a href="#">Layouts</a></li>
                                            <li><a href="#">Headers</a></li>
                                            <li><a href="#">Widgets</a></li>
                                            <li><a href="#">Footers</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Pages</div>
                                        <ul class="list">
                                            <li><a href="#">Portfolio</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Shop</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="widget">
                                        <div class="widget-title">Support</div>
                                        <ul class="list">
                                            <li><a href="#">Help Desk</a></li>
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template.
                        All Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>

    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!--Template functions-->
    <script src="js/functions.js"></script>

</body>

</html>
